.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    height: auto;
  }
  
  .column-left {
    display: block;
    padding: 0;
    color: white;
  }
  
.caja-1 {
    background-color: rgb(73, 73, 73);
    height: 120px;
    padding: 10px;
    text-align: left;
}


.caja-2 {
    background-color: rgb(73, 73, 73);
    height: 250px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    align-self: center;
    height: 100%;
    width: auto;
}

.caja-3 {
    background-color: rgb(26, 25, 25);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-4{
    background-color: rgb(73, 73, 73);
    padding: 10px;
    display: block;
}
.caja-4 h4 {
    margin-top: 1px;
    margin-bottom: 1px;
}
.caja-4 p {
    margin: 0;
    margin-bottom: 10px;
}
.caja-5{
    background-color: rgb(26, 25, 25);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-6{
    background-color: rgb(73, 73, 73);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.caja-7{
    background-color: rgb(26, 25, 25);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-8{
    background-color: rgb(73, 73, 73);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.column-right {
    background-color: #eee;
    padding: 20px 0 0 20px;
    display: block;
  }

.caja-d-1 {
    height: 100px;
    margin: 0;
}
.caja-d-2 {
    height: 500px;
    margin: 0;
    justify-content: left;
    align-items: center;    
}
.caja-d-2 h1 {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    width: 100%;
    padding: 10px 0;
}
.experiencia{
    margin-top: 50px;
    display: flex;
}
.date {
    width: 20%;
}
.descript {
    width: 80%;
    text-align: justify;

}

.caja-d-3 {
    height: 500px;
    margin: 0;
    justify-content: left;
    align-items: center;    
}

.caja-d-3 h1{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    width: 100%;
    padding: 10px 0;
}


.caja-d-4 {
}
.caja-d-5 {
}
